.time-and-location {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  flex-direction: column;
  width: 100%;
}

.time-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.time-label {
  font-size: 22px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .time-display {
    margin-left: 0;
    padding: 0 15px;
  }

  .time-label {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .time-label {
    font-size: 16px;
  }
}
