.time-and-location {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.time-display {
  display: flex;
  align-items: center;
  margin-left: 6rem;
}

.time-label {
  font-size: 20px;
  margin-right: 10px;
}
